@charset "UTF-8";
/* CSS Document */

html, body {
  margin: 0px;
}

.clear {
  clear: both;
}

#wrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
}


/*---------- HEADER ----------*/

header {
  height: 300px;
  width: 100%;
  background: #66ccff;
}


/*---------- CONTENT AREA ----------*/

.col-3 {
  width: 100%;
  height: 320px;
  float: left;
}

#column-1 {
  background: #99ccff;
}

#column-2 {
  background: #9999ff;
}

#column-3 {
  background: #9966ff;
}


/*---------- FOOTER ----------*/

footer {
  width: 100%;
  height: 30px;
  background: #9933ff;
}


/*---------- TABLET ----------*/
/* Change the background colors below */

@media (min-width: 768px) {
  header {
    background-color:#ffcccc;
  }

  
  #column-1 {
    background-color:#ff99cc;
  }

  #column-2 {
    background-color:#ff66cc;
  }

  #column-3 {
    background-color:#ff33cc;
    width: 100%;
  }

  .col-3 {
    width: 50%;
  }

  footer {
    background-color:#cc0099;
  }
  
}


/*---------- Desktops ----------*/
@media (min-width: 1200px) {
  header {
    background-color:#00ffcc;
  }

  #column-1 {
    background-color:#00ffff;
  }

  #column-2 {
    background-color:#66ffcc;
  }

  #column-3 {
    background-color:#99ffcc;
    width: 33.3%;
  }

   .col-3 {
     width: 33.3%;
   }

  footer {
    background-color: #00ff99;
   }
   
}
